* {
    margin: 0;
    padding: 0;
}
html, body {
    background-color: white;
}
a {
    color: black;
    text-decoration: none;
}
.vasak {
    float: left;
    width: 45%;
    padding-right: 3%;
    padding-left: 3%; 
}
.parem {
    float: right;
    width: 45%;
    padding-right: 3%;
}
.header {
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    padding-left: 20px;
    padding-top: 20px;
}
.menüü {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
}
